<div class="layout">

  <!-- OVERLAY MOBILE -->
  <div
    class="overlay"
    *ngIf="!menuFechado && isMobile()"
    (click)="toggleMenu()"
  ></div>

  <!-- SIDEBAR -->
  <aside
    class="sidebar"
    [class.closed]="menuFechado"
  >

    <div class="logo">
      <h2 *ngIf="!menuFechado">Civic Tech</h2>
      <span *ngIf="menuFechado">CT</span>
    </div>

    <nav>

      <p class="section" *ngIf="!menuFechado">USER</p>

      <a routerLink="/home" routerLinkActive="ativo">
        <span>🏠</span>
        <span *ngIf="!menuFechado">Home</span>
      </a>

      <a routerLink="/ocorrencia" routerLinkActive="ativo">
        <span>⚠️</span>
        <span *ngIf="!menuFechado">Ocorrência</span>
      </a>

      <a routerLink="/perfil" routerLinkActive="ativo">
        <span>👤</span>
        <span *ngIf="!menuFechado">Perfil</span>
      </a>

      <a routerLink="/feedback" routerLinkActive="ativo">
        <span>⭐</span>
        <span *ngIf="!menuFechado">Feedback</span>
      </a>

      <p class="section" *ngIf="!menuFechado">ADMIN</p>

      <a (click)="irParaAdmin()">
        <span>📊</span>
        <span *ngIf="!menuFechado">Dashboard</span>
      </a>

      <a *ngIf="acessoAdmin" (click)="logoutAdmin()">
        <span>🚪</span>
        <span *ngIf="!menuFechado">Sair Admin</span>
      </a>

      <a>
        <span>⚙️</span>
        <span *ngIf="!menuFechado">Config</span>
      </a>

    </nav>

  </aside>

  <!-- CONTEÚDO -->
  <div class="content">

    <!-- ÚNICO BOTÃO MENU -->
    <button class="menu-float-btn" (click)="toggleMenu()">
      ☰
    </button>

    <main>
      <router-outlet></router-outlet>
    </main>

  </div>

</div>