<div class="layout">

  <!-- MENU -->
  <aside
    class="sidebar"
    [class.closed]="menuFechado"
  >

    <!-- LOGO -->
    <div class="logo">

      <div class="logo-content">

        <h2 *ngIf="!menuFechado">
          Civic Tech
        </h2>

        <span *ngIf="menuFechado">
          CT
        </span>

        <button
          class="menu-btn"
          (click)="toggleMenu()"
        >
          ☰
        </button>

      </div>

    </div>

    <!-- MENU -->
    <nav>

      <!-- USER -->
      <p
        class="section"
        *ngIf="!menuFechado"
      >
        USER
      </p>

      <!-- HOME -->
      <a
        routerLink="/home"
        routerLinkActive="ativo"
      >

        <span>🏠</span>

        <span *ngIf="!menuFechado">
          Home
        </span>

      </a>

      <!-- OCORRENCIA -->
      <a
        routerLink="/ocorrencia"
        routerLinkActive="ativo"
      >

        <span>⚠️</span>

        <span *ngIf="!menuFechado">
          Ocorrência
        </span>

      </a>

      <!-- PERFIL -->
      <a
        routerLink="/perfil"
        routerLinkActive="ativo"
      >

        <span>👤</span>

        <span *ngIf="!menuFechado">
          Perfil
        </span>

      </a>
      <!-- FEEDBACK -->
<a
  routerLink="/feedback"
  routerLinkActive="ativo"
>

  <span>⭐</span>

  <span *ngIf="!menuFechado">
    Feedback
  </span>

</a>

      <!-- ADMIN -->
      <p
        class="section"
        *ngIf="!menuFechado"
      >
        ADMIN
      </p>

      <a
        (click)="irParaAdmin()"
      >

        <span>📊</span>

        <span *ngIf="!menuFechado">
          Dashboard
        </span>

      </a>

      <!-- LOGOUT ADMIN -->
      <a
        *ngIf="acessoAdmin"
        (click)="logoutAdmin()"
      >

        <span>🚪</span>

        <span *ngIf="!menuFechado">
          Sair Admin
        </span>

      </a>

      <!-- CONFIG -->
      <a>

        <span>⚙️</span>

        <span *ngIf="!menuFechado">
          Config
        </span>

      </a>

    </nav>

  </aside>

  <!-- CONTEÚDO -->
  <div class="content">

    <main>

      <router-outlet></router-outlet>

    </main>

  </div>

</div>