<div class="layout">

  <!-- MENU -->
  <aside class="sidebar" [class.closed]="menuFechado">

   <div class="logo">

  <div class="logo-content">
    <h2 *ngIf="!menuFechado">Civic Tech</h2>
    <span *ngIf="menuFechado">CT</span>

    <button class="menu-btn" (click)="toggleMenu()">
      {{ menuFechado ? '☰' : '☰' }}
    </button>
  </div>

</div>

    <nav>
      <p class="section" *ngIf="!menuFechado">USER</p>
      <a href="#">
        <span>🏠</span>
        <span *ngIf="!menuFechado" (click)="irParaHome()">Home</span>
      </a>

      <a href="#">
        <span>⚠️</span>
        <span *ngIf="!menuFechado" (click)="irParaOcorrencia()">Ocorrencia</span>
      </a>

      <a href="#">
        <span>👤</span>
        <span *ngIf="!menuFechado" (click)="irParaPerfil()">Perfil</span>
      </a>

      <p class="section" *ngIf="!menuFechado">ADMIN</p>
      <a href="#">
        <span>📊</span>
        <span *ngIf="!menuFechado">Dashboard</span>
      </a>

      <a href="#">
        <span>⚙️</span>
        <span *ngIf="!menuFechado">Config</span>
      </a>
    </nav>

  </aside>

  <!-- CONTEÚDO -->
  <div class="content">

    <main>
      <router-outlet></router-outlet>
    </main>

  </div>

</div>